# Build artifacts
build/

# User-specific Xcode settings.
APSHTTPClient.xcodeproj/xcuserdata
APSHTTPClient.xcodeproj/project.xcworkspace/xcuserdata/
APSHTTPClient.xcodeproj/project.xcworkspace/xcshareddata/

# Emacs backup files
*~

# OS X
.DS_Store
