<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>APSHTTPClient-Debug.framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>APSHTTPClient-Debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>APSHTTPClient-Release.framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>APSHTTPClient-Release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>APSHTTPClient.framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>APSHTTPClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B635ED4618FDB3320038B130</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B635ED6C18FDB5830038B130</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B635ED8118FDB5830038B130</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B635EDA518FDB90A0038B130</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6C4B87E190AE0FB00482D2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6C4B88C190AE0FC00482D2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
